#square {
    box-sizing: border-box;
    width: 300px;
    height: 300px;
    border: solid 3px black;
  }

  #circle {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: solid 2px black; 
  }

  #smallerCircle {
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: solid 1px black;
  }
  
  #board {
    width: 900px;
    display:flex;
    justify-content: center;
  }