.questions {
    background-color: #2b2c2e;
    height: 40px;
    border-radius: 3px;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    vertical-align: middle;
    
}

button.answer {
  float: right;
}

button.answer:hover {
  font-weight: 800;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}