.questions {
    background-color: #2b2c2e;
    height: 40px;
    border-radius: 3px;
    border: 1px solid black;
    padding: 5px;
    margin: 10px;
    vertical-align: middle;
    
}

h4 {
  text-decoration: underline;
  margin-top: 15px;
  margin-bottom: 0;
  text-align: center;
  height: 25px;
}

form {
  padding: 5px;
}

button.answer {
  float: right;
}

button.answer:hover {
  font-weight: 800;
}

li {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#category {
  padding-left: 10px;
}

#input {
  height: 35px;
  padding-left: 10px;
  color: white;
}

#search-form {
  padding: 0;
  width: 98%;
  margin: 0 auto;
  border-radius: 5px;
  border: 1px solid black;
}

.padding-left-15 {
  padding-left: 15px;
}